---
interface Props {
  title: string;
  links: { label: string; hf: string }[];
  index: number;
}

const { title, links, index } = Astro.props;
---

<div
  class="reveal flex flex-col 
         items-center md:items-start 
         text-center md:text-left 
         gap-6"
  style={`transition-delay: ${index * 0.15}s;`}
>
  <h4 class="text-white font-bold text-lg">
    {title}
  </h4>

  <ul class="flex flex-col gap-4">
    {links.map((link) => (
      <li>
        <a
          href={link.hf}
          class="text-text-muted hover:text-primary 
                 transition-colors duration-300 
                 flex items-center justify-center md:justify-start 
                 gap-2 group"
        >
          <!-- Linha animada -->
          <span
            class="w-0 h-px bg-primary 
                   transition-all duration-300 
                   group-hover:w-3"
          ></span>

          {link.label}
        </a>
      </li>
    ))}
  </ul>
</div>
