<section
  id="contato"
  class="py-24 lg:py-32 bg-linear-to-b bg-indigo-500/5 overflow-hidden"
>
  <div class="max-w-7xl mx-auto px-6 text-center">
    <div class="reveal hover-trigger relative rounded-3xl p-10 lg:p-20 group">
      <div
        class="absolute inset-0 bg-primary/10 blur-[100px] rounded-full opacity-0 group-hover:opacity-100 transition-opacity duration-700 pointer-events-none"
      >
      </div>

      <div
        class="absolute top-0 left-1/2 -translate-x-1/2 w-1/2 h-px bg-linear-to-r from-transparent via-primary/50 to-transparent"
      >
      </div>

      <div class="relative z-10">
        <h2
          class="text-3xl lg:text-5xl font-black text-white mb-6 leading-tight"
        >
          Vamos tirar seu projeto do <span class="text-primary">papel?</span>
        </h2>

        <p
          class="text-text-muted text-lg mb-10 max-w-2xl mx-auto leading-relaxed"
        >
          Entre em contato e receba uma proposta clara, sem complicação e
          alinhada com o que você precisa para crescer digitalmente.
        </p>

        <a
          href="https://wa.me/5591985014864?text=Olá%20Joseph!%20Cheguei%20até%20o%20final%20do%20seu%20site%20e%20gostaria%20de%20conversar%20sobre%20meu%20projeto."
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-3 bg-primary hover:bg-primary-hover text-white px-8 xl:px-10 py-4 xl:py-5 rounded-xl font-bold text-base xl:text-lg transition-all duration-500 shadow-xl shadow-primary-glow hover:shadow-2xl hover:shadow-primary-glow/50 active:scale-95"
        >
          <i class="fa-brands fa-whatsapp text-2xl"></i>
          Falar no WhatsApp
        </a>
      </div>
    </div>
  </div>
</section>
